*{
	padding: 0;
	margin: 0;
	color: var(--foreground);
}
body{
	min-width: 1000px;
	padding-left: 3px;
}

a{
	color: var(--yellowish);
	text-decoration: none;
}

.keyword{
	font-weight: bold;
	font-style: italic;
	color: var(--greenish);
}

.keyword_error{
	font-weight: bold;
	font-style: italic;
	color: var(--redish);
}

.symbol{
	color: var(--greenish);
	font-weight: bold;
}

.title_bar{
	padding-bottom: 10px;
}

.res_dir{
	font-weight: bold;
	color: color(var(--foreground) alpha(0.9));
	padding-left:3px
}

.res_file{
	color: color(var(--foreground) alpha(0.9));
	padding-left:3px
}

.res_focus{
	border: 1px solid var(--bluish);
	border-radius: 2px;
}

.no_accessible{
	color: color(var(--foreground) alpha(0.5));
}

.operation_menu a{
	padding-left: 5px;
	color: var(--bluish);
}

.warning{
	font-weight: bold;
	font-style: italic;
	color: var(--yellowish);
}

.error{
	font-weight: bold;
	font-style: italic;
	color: var(--redish);
}

.info{
	font-weight: bold;
	font-style: italic;
	color: var(--foreground);
}

.debug{
	font-weight: bold;
	font-style: italic;
	color: var(--orangish);
}